body {
  background: linear-gradient(270deg, rgb(194, 193, 193), rgb(221, 164, 164));
}

header h1 {
  color: rgb(21, 80, 136);
}

#hyphen {
  color: rgb(252, 205, 88);
}
@media (max-width: 768px) {
  html {
    width: 750px;
  }
  body {
    width: 750px;
  }

  main {
    width: 720px;
  }

  main ul {
    width: 720px;
    margin-right: 6px;
    margin-left: 8px;
  }

  main li {
    width: 700px;
    margin-left: 10px;
  }
  body {
    width: 100%;
  }
  footer {
    width: 750px;
  }
}

@media (max-width: 480px) {
  html {
    width: 100%;
  }
  header {
    width: 100%;
  }
  main {
    width: 390px;
  }

  main ul {
    width: 320px;
  }
  main li {
    width: 320px;
  }
  footer {
    width: 100%;
  }
}
